// start .sSert2
.sSert2 {
	--swiperArrowSize: #{rem(50)};
	position: relative;
	--sPB: #{rem(60)};
	@include media-breakpoint-up(md) {
		--swiperArrowSize: #{rem(74)};
		--sPT: #{rem(118)};
		--sPB: #{rem(126)};
	}

	h6 {
		font-weight: 500;
		line-height: calc(31/21);
		@include media-breakpoint-up(xl) {
			max-width: rem(455);
		}
	}

	h4 {
		font-weight: 600;
		margin-bottom: .9rem;
		line-height: calc(45/35)
	}


	&__btn {
		@extend .btn;
		border: 1px solid #fffbd0;
		font-size: rem(16px);
		color: #feffd1;
		text-transform: uppercase;
		min-width: rem(318);
		min-height: rem(83);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		letter-spacing: rem(0.8px);

		&:hover {
			background-color: #feffd1;
		}
	}

	&__btnWrap {
		@include media-breakpoint-down(lg) {
			text-align: center;
		}
	}

	&__textCol {
		padding-bottom: rem(50);
		@include media-breakpoint-up(lg) {
			max-width: 47.5%;
			padding-bottom: rem(30);
		}
	}

	&__sliderCol {
		@include media-breakpoint-up(lg) {
			max-width: 52.5%;
		}
	}

	&__img-wrap {
		@include media-breakpoint-down(sm) {
			max-width: 217px;
			margin: 0 auto;
			display: block;
		}
	}

	&__wrap {
		position: relative;
		
		@include media-breakpoint-up(lg) {
			margin-right: calc(-50vw - -76%);
		}
	}

	&__control {
		bottom: rem(-6);
		display: flex;

		@include media-breakpoint-down(lg) {
			justify-content: space-between;
			padding-top: rem(25);
			max-width: 38%;
			margin: 0 auto;
		}

		
		@include media-breakpoint-up(lg) {
			position: absolute;
			left: rem(-102);
			flex-direction: column-reverse;
		}

		.swiper-button-hand {
			position: relative;
			left: auto;
			right: auto;
			bottom: auto;
			top: auto;

			@include media-breakpoint-up(lg) {
				margin-top: rem(16);
			}
		}
	}

	&__slider {

	}

	&__slide {
		@include media-breakpoint-up(lg) {
			max-width: rem(355);
		}
	}






	@include media-breakpoint-up(xl) {
		.container {
			max-width: 1200px;
		}
	}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSert2