mixin messengersItem(i)
	+e.item(href="#")
		+e.iconWrap
			+icon(icon)
		+e.text= t

mixin footer()
	+b.FOOTER.footer
		+pic('footer-bg','bg')(class="picture-bg")
		.container
			+e.row.row
				.col-auto.col-lg.d-none.d-md-block.order-1
					+b.logo-block
						img(src="img/@2x/logo.png", alt="")
						div
							+e.title «Санто Арабика»
							+e.text Производим капсульный кофе стандарта Nespresso
				.col-sm-auto.order-sm-3
					+e.contactWrap
						+e.tel(href=`tel:${tels}`)= tel
						+e.btn.link-modal(href="#modal-call") Перезвоните мне
				+e.col.col-sm-auto.order-sm-2
					+e.write Пишите по всем вопросам, #[span.dot] мы онлайн
					+b.mass-block
						+e.item(href="#")
							+e.iconWrap
								+icon("telegram")
							+e.text Telegram
						+e.item(href="#")
							+e.iconWrap
								+icon("tel")
							+e.text WhatsApp
		+e.foot
			.container
				.row.justify-content-between
					.col-sm-auto
						+e.polite(href="#") Политика конфиденциальности
					.col-sm-auto
						+e.dev
							span Разработка сайта
							+e.devLogo(href="https://simonov.marketing" target='_blank')
								img.res-i(src="img/svg/logo-3.svg", alt="" loading="lazy")

