.footer {
	--sPT: #{rem(40px)};
	--sPB: #{rem(30px)};

	background-color: #121212;
	position: relative;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
	margin-top: auto;
	color: #fefefe;

	.picture-bg {
		z-index: 1;
	}

	&__row {
		justify-content: space-between;
		@include media-breakpoint-only(md) {
			@include roww(10px);
			align-items: center;
		}
	}

	.container {
		position: relative;
		z-index: 2;

		@include media-breakpoint-up(xl) {
			max-width: 1200px;
		}
	}

	&__col {
		display: flex;
		align-items: center;
		@include media-breakpoint-up(lg) {
		}
		@include media-breakpoint-up(xl) {
			padding-right: rem(105);
		}

		@include media-breakpoint-down(sm) {
			flex-direction: column;
			padding-top: rem(25);
			text-align: center;
		}
	}

	&__write {
		padding-top: 3px;
		font-size: rem(17);
		max-width: 170px;
		@include media-breakpoint-up(sm) {
			max-width: rem(144);
		}
		@include media-breakpoint-up(lg) {
			margin-right: rem(20);
		}
		@include media-breakpoint-down(lg) {
			margin-bottom: rem(25);
		}
		font-weight: 600;
		line-height: calc(23/16);

		.dot {
			display: inline-block;
			width: 4px;
			height: 4px;
			box-shadow: 0 0 16px 2px rgba(255, 255, 255, 0.44);
			background-color: #ffffff;
			border-radius: 50%;
			margin-left: rem(3);
			margin-right: rem(5);
		}
	}

	&__tel {
		margin-bottom: rem(9);
		color: #ffffff;
		font-size: $h6-font-size;
		font-weight: 500;
		margin-right: 3px;
		letter-spacing: rem(0.2);
	}

	&__btn {
		color: #fff !important;
		display: inline-block;

		@include media-breakpoint-up(sm) {
			font-weight: 400;
			line-height: 1.5;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			user-select: none;
			border: 1px solid transparent;
			padding: .655rem 1.45rem;
			font-size: .88889rem;
			border-radius: .22222rem;
			background-color: #3a3a3a;
			border-color: #3a3a3a;

			&:hover {
				background-color: #232323;
				border-color: #232323;
			}
		}

		@include media-breakpoint-down(sm) {
			border-bottom: solid 1px dashed;
		}
	}

	&__contactWrap {
		padding-top: 3px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include media-breakpoint-up(sm) {
			align-items: flex-end;
		}
	}
	
	&__foot {
		padding-top: rem(23);
		margin-top: rem(20);
		@include media-breakpoint-up(sm) {
			margin-top: rem(64);
			border-top: solid 1px rgba($color: #fff, $alpha: 0.09);
		}
	}

	&__polite {
		font-size: rem(14px);
		color: rgba($color: #fff, $alpha: 0.44);

		@include media-breakpoint-down(sm) {
			text-align: center;
			display: block;
			margin-bottom: rem(35);
		}
	}

	&__dev {
		font-size: rem(14px);
		color: rgba($color: #fff, $alpha: 0.44);
		display: flex;
		span {
			display: inline-block;
			margin-right: rem(20);
			padding-top: rem(7);
		}
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			align-items: center;

			span {
				margin-bottom: rem(5);
			}
		}
	}

	&__devLogo {
		display: inline-block;
		&:hover {
			transform: scale(0.9);
		}
	}



@include media-breakpoint-up(xs) {}
@include media-breakpoint-between(md, xl) {}
@include media-breakpoint-only(xl) {}
@include media-breakpoint-down(xs) {}

	.logo-block {
		&__title {
			margin-bottom: 5px;
		}
	}

	.mass-block {
		padding-top: 6px;
		@include roww(15px);
		&__item {
			background: transparent !important;
			color: #ffffff !important;
			height: auto;
			border: none;
			flex-direction: column;
			width: auto;

			&:hover {
				// color: $primary;

				.mass-block__iconWrap {
					background-color: $primary;
					border-color: $primary;
				}

				.icon {
					color: $body-color;
				}
			}
		}

		.icon {
			@include mt;
		}

		&__iconWrap {
			width: 38px;
			height: 38px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			border: solid 1px #fff;
			margin-bottom: rem(10);
			@include mt;
		}

		&__text {
			font-size: 11px;
		}
	}
}
