
mixin modal() 
	//  start modals

	+b.modal-win--text.content-block(id="modal-text1" class=" " style="display: none" )

		p.fw-600 Кофе из&nbsp;100% арабики наиболее востребован среди настоящих ценителей и&nbsp;гурманов мира.  <br> Его выбирают известные рестораторы для своих заведений и&nbsp;профессионалы кофейной сферы
		p: strong Доля арабики на&nbsp;рынке кофе составляет примерно&nbsp;70% от&nbsp;всего объема выращиваемых зерен.
		p Растения достаточно &laquo;капризны&raquo; и&nbsp;нуждаются <br> в&nbsp;определенных условиях выращивания:
		ul
			li посадка на&nbsp;сравнительно высокой местности, примерно 1500&nbsp;м над уровнем моря&nbsp;&mdash; чем выше, тем богаче вкус
			li температура воздуха не&nbsp;меньше 15&deg;С и&nbsp;обилие солнечных лучей
			li защита от&nbsp;вредителей, нападениям которых деревья арабики особенно подвержены удобренная почва
		p Все эти факторы напрямую влияют на&nbsp;главное отличие этого сорта кофе&nbsp;&mdash; вкусовые качества. Арабика обладает мягким и&nbsp;нежным вкусом, с&nbsp;едва заметной кислинкой. 

		p В&nbsp;химическом составе арабики преобладают #[strong ароматические масла&nbsp;&mdash; их&nbsp;в&nbsp;2&nbsp;раза больше, чем в&nbsp;робусте. Кофеина&nbsp;же наоборот в&nbsp;арабике в&nbsp;2&nbsp;раза меньше], всего 1,5%
	// #modal-text1
	
	+b.modal-win--text.content-block(id="modal-text2" class=" " style="display: none" )

		p.fw-600 #[strong Качество обжарки оказывает ключевое влияние] на&nbsp;качество будущего кофейного напитка

		p:  strong Кофе самый сложный с&nbsp;точки зрения биохимии продукт, который мы&nbsp;употребляем в&nbsp;пищу. 

		p А&nbsp;обжарка кофе&nbsp;&mdash; супер сложный процесс. Потому что внутри зерна под воздействием тепла происходит тысячи реакций и&nbsp;каждая влияет на&nbsp;раскрытие вкуса. 

		p А&nbsp;еще ни&nbsp;одна партия зерна не&nbsp;бывает одинаковой по&nbsp;плотности, влажности и&nbsp;другим параметрам, даже собранная с&nbsp;одной плантации. Не&nbsp;говоря уж&nbsp;про условия перевозки и&nbsp;хранения. Их&nbsp;все также нужно учесть при обжарке. Сделать это может только человек с&nbsp;опытом.
		+pic("modal-img.jpg",'',0)
	+b.modal-win--text.content-block(id="modal-text3" class=" " style="display: none" )

		p Кофе, как соты, имеет огромное количество ячеек, в&nbsp;которых находятся определенные вещества. Вступая в&nbsp;реакцию с&nbsp;водой, они высвобождают как базовые вкусы (кислый, сладкий, горький, соленый) так и&nbsp;оттенки, характерные для конкретного кофе. 

		p: strong Описанный процесс, называется &laquo;экстракцией&raquo;

		p Экстракция напрямую зависит от&nbsp;помола, времени приготовления, а&nbsp;также от&nbsp;конкретного девайса, с&nbsp;помощью которого готовят кофе. #[strong Для каждого способа подходит свой помол&nbsp;&mdash; иначе нужного вкуса не&nbsp;получить.]

		p Так, для длительного заваривания подходит крупный помол с&nbsp;частицами 2-3&nbsp;мм. В&nbsp;кофемашине&nbsp;же кофе готовится от&nbsp;20&nbsp;до&nbsp;40&nbsp;секунд, и&nbsp;чтобы кофе отдал весь свой вкус и&nbsp;аромат нужен помол по&nbsp;консистенции, напоминающий мелкий сахарный песок.
		+contact-block().mt-0
	+b.modal-win--packaging.content-block(id="modal-packaging" class=" " style="display: none" )

		p При упаковке капсул из&nbsp;них откачиват воздух (удаляют кислород) и&nbsp;закачивают азот. Это делается для того, чтобы при приготовлении кофе из&nbsp;капсулы #[strong даже через полгода-год сохранить вкус свежеобжаренного и&nbsp;только что помолотого кофе]
		+pic("modal-img-2.jpg",'',0)
	+b.modal-win--shipping.content-block(id="modal-shipping" class=" " style="display: none" )

		p Работаем с&nbsp;СДЕК, BoxBerry, PickPoint,  DPD, Деловыми Линиями, ПЭК
		.row.pb-3.pt-1.align-items-center
			- for (var x = 1; x < 7; x++)
				+e.col-pic.col-auto.mb-3
					+pic(`shipping-${x}.png`,'',0)
		p В&nbsp;момент согласования заказа мы&nbsp;уточним, какой&nbsp;ТК вам удобнее получить товар.

		p Если хотите доставку товара&nbsp;ТК, которой нет в&nbsp;списке, подумаем и&nbsp;решим, как это сделать.

	// #modal-shipping


	+b.modal-win--form(id="modal-test" class=" " style="display: none" )
		+b.form-wrap 
			+e.group-title--sm.text-center  Получите тестовую партию кофе&nbsp;&mdash;  3&nbsp;капсулы разного вида #[span бесплатно] 
			form
				+form-tabs('Как с вами связаться?', 'tel')
				//- +inputName()
				+e.btn(type="submit") получить тестовую партию
			+polite()
	// #modal-test
	+b.modal-win--form(id="modal-become" class=" " style="display: none" )
		+b.form-wrap 
			+e.group-title--sm.text-center  Стань нашим дилером в&nbsp;своем городе или в&nbsp;своей стране и&nbsp;#[span зарабатывай вместе с&nbsp;нами]
			.strong.text-center.mb-3 Оставьте свои контакты, и&nbsp;мы&nbsp;перезвоним  и&nbsp;расскажем про условия сотрудничества
			form
				+form-tabs('Как с вами связаться?', 'tel','dil')
				//- +inputName()
				+e.btn(type="submit") Стать дилером
			+polite()
	// #modal-become
	
	+b.modal-win--form(id="modal-call" class=" " style="display: none" )
		+b.form-wrap 
			+e.group-title--sm.text-center  Укажите контактные данные <br> и&nbsp;удобное время для звонка
			.fw-500.text-center.mb-3 Специалист компании перезвонит вам прямо сейчас или в&nbsp;другое рабочее время. <br> Мы&nbsp;работаем с&nbsp;7:00 до&nbsp;20:00 по&nbsp;МСК
			form
				+e.input-with-icon
					+input('Иван','text','Как с вами связаться?')
						+icon("man")
				+e.input-with-icon
					+input('+7 (999) 444-44-44','tel','Введите номер телефона')
						+icon("call")
				.form-wrap__input-title Когда вам позвонить
				+b.LABEL.time-block
					input(type="checkbox" name="time") 
					+e.btn--left Сейчас
					+e.btn--right По времени
				.input-time.d-none
					+input('Например: 21 января в 14:00','text')
						+icon("call")
				+e.btn(type="submit") Перезвоните мне
			+polite()
	// #modal-call
	
	+b.modal-win--prod.content-block(id="modal-prod" class=" " style="display: none" )

		.h5.strong.mb-4 Colombia Specialty
		table
			mixin tr(t1,t2)
				tr
					th= t1
					td= t2
			+tr("Q-грейд:  ",'84,00')
			+tr("Ноты:",'Красный апельсин, мандарин, средние тело и кислотность, приятная сладость')
			+tr("Страна:  ",'Колумбия')
			+tr("Регион:  ",'Армения, Киндио')
			+tr("Высота:  ",'1800 м над уровнем моря')
			+tr("Разновидность:  ",'Кастийо, Катурра, Колумбия, Типика')
			+tr("Обработка:  ",'Мытая')
	// #modal-prod



	// end modals