mixin sContact()
	// start sContact
	+b.sContact.section#sContact&attributes(attributes)
		.container
			+e.row.row.align-items-center
				.col-lg-4
					.row
						+e.col.col-6.col-lg-12
							+e.title Адрес
							+e.text Магнитогорск, ул. Суворова, д.115
						+e.col.col-6.col-lg-12.order-lg-last
							+e.title Работаем
							+e.text ежедневно, с 9:00 до 20:00
						+e.col.col-6.col-lg-12
							+e.title Телефон
							+e.text(href="tel:8(800)4214253") 8 (800) 421-42-53
						+e.col.col-6.col-lg-12
							+e.title E-mail
							+e.text(href="mailto:info@coffee.ru") info@coffee.ru
				.col-lg
					+e.mapWrap
						//- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7bd4fb555829e66d7c01811f8f0a640f90e4945f73efa2a8e49442669c7b27b3&amp;width=100%25&amp;lang=ru_RU&amp;scroll=false"></script>
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A057c8e98fcc5a905a8c9058b3ad0abded3bb80ffc5de36dad05f87667f1d2a36&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
						//- <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7bd4fb555829e66d7c01811f8f0a640f90e4945f73efa2a8e49442669c7b27b3&amp;source=constructor"></iframe>
	// end sContact