// start .sContact
.sContact {
	--sPB: #{rem(72)};
	@include media-breakpoint-up(md) {
		--sPB: #{rem(112)};
		--sPT: #{rem(62)};
	}
	background-color: #151515;

	.container {
		@include media-breakpoint-up(xxl) {
			max-width: 1208px;
		}
	}

	&__mapWrap {
		background-color: #fff;
		@include block(289,202);
		@include media-breakpoint-up(lg) {
			@include block(1144,544);
			margin-right: calc(-50vw - -76%);
		}

		iframe, script, > ymaps {
			width: 100% !important;
			height: 100% !important;
			position: absolute;
			left: 0;
			top: 0;
			
			border: none !important;
		}
	}

	&__title {
		color: #ffffff;
		@extend .h4;
		font-weight: 700;
		@include media-breakpoint-down(sm) {
			text-align: left;
			font-size: 15px;
			line-height: normal;
			line-height: (25 / 15);
		}
	}

	&__text {
		color: #c6c6c6;
		font-weight: 500;
		@include media-breakpoint-down(sm) {
			text-align: left;
			font-size: 13px;
			line-height: normal;
			line-height: (20 / 13);
			letter-spacing: normal; 
		}
	}

	&__col {

		&:not(:last-child) {
			padding-bottom: rem(42);

		}
	}






	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContact