mixin sTaste(data)
	// start sTaste
	+b.SECTION.sTaste.section#sTaste&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Обеспечиваем великолепный вкус кофе,
				+e.text.h6 уделяя максимум  внимания #[strong точности помола и&nbsp;количеству кофе в&nbsp;капсуле]
		mixin item(i,l)
			+e.group
				.container
					+e.text-block
						block
					if l
						+e.link-block
							+e.link(href="#") Однородность помола гарантирует одинаковый вкус кофе в&nbsp;каждой порции
				+pic(`sTaste-img-${i}.jpg`,'bg')
			// /+e.group
		+item(1,'l')
			.h6 Помол должен быть таким, чтобы извлекать из&nbsp;кофе&nbsp;20% растворимых твердых веществ за&nbsp;12-20 секунд&nbsp;&mdash; именно столько времени нужно кофемашине на&nbsp;приготовление чашки напитка.

			.h6 При этом помол должен быть однородным с&nbsp;гранулами одинакового размера, чтобы облегчить поток воды &mdash;&nbsp;мы&nbsp;достигаем этой точности с&nbsp;помощью лазерного гранулометра
		+item(2)
			.h6.h6--2 Мы&nbsp;также контролируем количество кофе в&nbsp;капсулах, определяя вес капсулы на&nbsp;специальных электронных весах  с&nbsp;точностью до&nbsp;сотых микрона
	// end sTaste