
	// start .sTaste
	.sGuarantee,
	.sTaste {
		--sPT: #{rem(30)};
		padding-bottom: 0;
		&__img-wrap{
			@include media-breakpoint-down(md) {
				position: relative;
				margin-bottom: 1rem;
			} 
		}
		&__group{
			background-color:  $body-color;
			@include bgs;
			padding-bottom: 1px;
			background-image: url(../img/@2x/webp/sTaste-bg.webp);
			@include media-breakpoint-down(md){
				background-size: 200%;
				background-position: left bottom;
			}
			color: #878787;
			position: relative;
			@include media-breakpoint-up(md){
				
				// min-height: 100vh;
				// min-height: calc(var(--vh, 1vh) * 100);
				height: 790px;
				display: flex;
				flex-direction: column;
				// align-items: center;
				justify-content: center;
			}

			picture{
				@include media-breakpoint-up(md) {
			
					position: absolute;	
					left: 50%;
					width: 50%;
					height: 100%;
					top: 0;
				}
			}
		}
		&__text-block{
			max-width: rem(460);
			@include media-breakpoint-up(md) {
				width: 49%;
			}
		}
		.h6{
			margin-bottom: 1em;
			line-height: (31 / 21);
			&--2{
				max-width: rem(370);
			}
		}
		.section-title{
			margin-left: auto;
			margin-right: auto;
			max-width: rem(870);
			h2{
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: rem(20);
			}
		}
		.container{
			@include media-breakpoint-up(xl) {
				max-width: rem(1000);
				padding-top: rem(60);
				padding-bottom: rem(60);
			}
			padding-top: rem(40);
			padding-bottom: rem(40);
		}

		&__link-block{
			width: 100%;
			max-width: rem(427px); 
			border-radius: $border-radius;
			background-color: #ffffff;
			padding: rem(25) rem(33);
			position: absolute;
			@include media-breakpoint-up(md) {

				left: 50%;
				margin-left: rem(40);
			}
			margin-left: 15px;
			left: 0;
			bottom: rem(66);
			z-index: 2;
		}

		&__link{
			color: #494949 !important;
			border-bottom: 1px dashed;
			&:hover{
				border-color: transparent;
			}
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sTaste

.sTaste{
	.container{
		padding-top: 0;
		padding-bottom: 0;
	}
}