// start .sGal
.sGal {
	--sPT: #{rem(42px)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(116px)};
		--sTPB: #{rem(60)};
	}
	background-color: #151515;
	position: relative;

	.section-title {
		display: flex;
		align-items: center;
		padding-bottom: 0;
		margin-bottom: var(--sTPB);
		h2 {
			color: #ffffff;
			font-weight: 700;
		}

		&__subtitle {
			@extend .h5;
			color: #878787;
		}
	}


	&__bgText {
		position: absolute;
		bottom: rem(15);
		left: rem(20);
		font-size: 25px;
		@include media-breakpoint-up(sm) {
			font-size: rem(70);
		}
		@include media-breakpoint-up(md) {
			font-size: rem(106);
			bottom: rem(10);
			left: rem(40);

		}
		line-height: 1;
		font-weight: 700;
		text-transform: uppercase;
		color: rgba($color: #ebebeb, $alpha: 0.08);
	}


	&__slider {

	}

	&__sliderBtn {
		position: relative;
		place-items: center;
		flex-shrink: 0;
	}

	&__slide {
		height: auto;
		// max-height: 595px;
		width: auto;
		// max-width: 871px;
		position: relative;
		overflow: hidden;
		@include mt(1);
		// @include block(871,595)

		img {
			max-width: 100%;
			// height: 100%;
			height: 105px;
			@include media-breakpoint-up(sm) {
				height: rem(300);
			}
			@include media-breakpoint-up(lg){
				height: rem(595px);
			}
			object-fit: cover;
		}

		&:not(.swiper-slide-active) {
			filter: grayscale(100%);
		}
	}

	&__imgWrap {

	}






	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(sm) {
		.container {
			// position: relative;
		}
	}
} // end.sGal