mixin sUnique(data)
	// start sUnique
	+b.SECTION.sUnique.section#sUnique&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Капсульный #[strong кофе]  &laquo;Санто&nbsp;Арабика&raquo; #[strong уникален]
				+e.text.h6 Уверены, что&nbsp;95% наших покупателей станут постоянными, попробовав его лишь раз
			.row
				.col
					+e.left-block
						+pic('unique-img.jpg','bg')
					+e.lg свежее
						span зерно
				+e.col.col-md-auto
					+e.text-block
						.h4 #[strong Закупаем свежее и качественное зеленое зерно] на&nbsp;проверенных фермах и&nbsp;кофейных биржах мира
						+e.text Закупаем кофе большими объемами, что позволяет нам получить лучшую цену, которую мы&nbsp;предлагаем и&nbsp;своим покупателям
	// end sUnique