
	// start .sUnique
	.sBest,
	.sUnique {

		.section-title{
			@include media-breakpoint-up(lg) {
				--sTPB: #{rem(115)};
			}
			&__text{
				
				margin-left: auto;
				margin-right: auto;
				max-width: rem(560);
				line-height: (20 / 13);
			}
		}

		&__text-block{
			max-width: rem(465);
		}
		.row{
			align-items: center;
		}
		&__col{
			@include media-breakpoint-up(lg){

				margin-left: calc(100% / 12 );
			}
			position: relative;
			z-index: 4;
			@include media-breakpoint-up(md){ 
				margin-top: 0;
			}
			margin-top: rem(60);
		}
		&__left-block{
			position: relative;
			@include media-breakpoint-down(sm){
				margin-right: calc(-1 * (100vw - 100% + var(--bs-gutter-x)));
				min-width: 100vw;
			}
			@include media-breakpoint-up(md){
				margin-left: calc(-1 * (50vw - 100% + var(--bs-gutter-x)));
			 
			} 
			margin-left: calc(-1 * (100vw - 100% + var(--bs-gutter-x)));

		}
		
		h2{
			text-transform: uppercase;
			margin-left: auto;
			margin-right: auto;
			max-width: rem(850);
		}
		.h4{
			margin-bottom: em(20);
		
		}
		&__text{
			color: #414141;
			@include media-breakpoint-down(sm){
				max-width: 270px;
				font-size: 13px;
				line-height: (20 / 13);
			}
			span{
				border-bottom: 1px dotted;
			}
		}
		.col{
			position: relative;
		}
		&__lg{
			@include rfs(105px);
			max-width: rem(600);
			position: absolute;
			bottom: -.7em;
			color: #ebebeb;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 1;
			span{
				display: block;
				color: #ebebeb;
				z-index: -1;
				position: relative;
			}
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sUnique