- let counter = 10
mixin headerBlock(count= counter)
	.wrap
		- for (var x = 0; x < count; x++)
			// start headerBlock
			+b.headerBlock(style="background-image: url(../img/@2x/head-bg.jpg);").section&attributes(attributes)
				block
				+pic('santo.png').santo
				.container
					+e.title
						h1 Оптовые поставки
						.row
							.col-lg-auto
								+e.lg кофе
							.col-lg-auto
								+e.text в&nbsp;капсулах для кофемашин&nbsp;Nespresso
					+e.body
						+e.row.row
							+e.col.col-auto
								.row.g-0
									+e.card.bg-wrap.col-12
										+pic("card-1.jpg",'bg',0).d-none.d-lg-block.picture-bg
										+e.card-text Лучшие моносорта и&nbsp;бленды кофе категории 
											strong specialty
									+e.card.bg-wrap.col-lg-6
										+pic("card-2.jpg",'bg',0).d-none.d-lg-block.picture-bg
										+e.card-text Цена почти 
											strong  на&nbsp;30%&nbsp;ниже
											|  оригинала
									+e.card.bg-wrap.col-lg-6
										+pic("card-3.jpg",'bg',0).d-none.d-lg-block.picture-bg
										+e.card-text Доставка по&nbsp;всей России 
											strong  с&nbsp;отправкой в&nbsp;течение 2х&nbsp;дней

							+e.col-right.col
								+e.link-wrap
									+e.link.scroll-link(href="#sAbout") Сначала расскажите, что не&nbsp;так с&nbsp;кофе, почему даете такую цену
								+e.btn.link-modal(href="#modal-test") Получить тестовую партию бесплатно
			// end headerBlock
mixin headerBlock00(count= counter)
	.wrap
		- for (var x = 0; x < count; x++)
			// start headerBlock
			+b.headerBlock(style="background-image: url(../img/@2x/head-bg.jpg);").section&attributes(attributes)
				block
				+pic('santo.png').santo
				.container
					+e.title
						h1.text-start Капсульный
						.row
							.col-lg-auto
								+e.lg кофе
							.col-lg-auto
								+e.text премиум качества от&nbsp;20&nbsp;Р за&nbsp;штуку с&nbsp;доставкой по&nbsp;всей России
					+e.body
						+e.row.row
							+e.col.col-lg-auto
								.row.g-0.row--lg
									+e.card--lg.bg-wrap.col-12
										+pic("photohead.png",'bg',0).d-none.d-lg-block.picture-bg
										+e.card-text2 Для <br> кофемашин   <br>
											img(src="img/@2x/nespresso.png", alt="")
							

							+e.col-right.col
								+e.link-wrap
									+e.text-right.h6 Нажмите на&nbsp;кнопку для перехода на&nbsp;соответствующую страницу
								+e.btn-grad--biz(href="#"): span Кофе для бинеса
								+e.btn-grad--base(href="#"): span Кофе для себя
			// end headerBlock
mixin headerBlock01(count= counter)
	.wrap
		- for (var x = 0; x < count; x++)
			// start headerBlock
			+b.headerBlock(style="background-image: url(../img/@2x/head-bg.jpg);").section&attributes(attributes)
				block
				+pic('santo.png').santo
				.container
					+e.title
						.h5.ttu.text-start Больше не&nbsp;нужно следить за&nbsp;акциями в&nbsp;соседнем магазине!
						h1.text-start Капсульный
						.row
							.col-lg-auto
								+e.lg кофе
							.col-lg-auto
								+e.text--01 из&nbsp;элитных сортов Арабики по&nbsp;доступной цене
					+e.body
						+e.row.row
							+e.col.col-lg-auto
								.row.g-0.row--lg
									+e.card--lg.bg-wrap.col-12
										+pic("photohead.png",'bg',0).d-none.d-lg-block.picture-bg
										+e.card-text2 Для <br> кофемашин   <br>
											img(src="img/@2x/nespresso.png", alt="")
							

							+e.col-right.col
								+e.link-wrap
									+e.text-right.h6 
								+e.btn--01.scroll-link(href="#sCatalog") Перейти к выбору кофе
								p Оптовые цены только для этого сайта
			// end headerBlock