mixin sBest(data)
	// start sBest
	+b.sBest.section#sBest&attributes(attributes)
		.container 
			.row
				.col.order-md-last
					+e.left-block
						+pic('sBest-img','bg')
					+e.lg насыщенный
						span вкус
				+e.col.col-md-5
					+e.text-block
						.h4 #[strong Доверяем обжарку лучшим ]  в&nbsp;этом деле мастерам
						+e.text Мы&nbsp;нашли опытных обжарщиков в&nbsp;России и&nbsp;посетили их&nbsp;производство.  Убедились, что зерна #[strong обжаривают #[a.link-modal(href="#modal-text2") профессионально]&nbsp;&mdash; так, чтобы раскрыть вкус кофе максимально]
	// end sBest