
	// start .sBest
	.sBest {
			padding-top: 0;
			padding-bottom: rem(40);
			&__text {
				max-width: rem(420);
				// line-height: normal;
				line-height: (27 / 18);
				// line-height: normal;
				a{
					color: currentColor;
					@extend .tdsh;
				}
			}
		&__col{ 
			@include media-breakpoint-up(lg){ 
				margin-left:  0 !important;
			}
		}
		&__left-block{ 
			@include media-breakpoint-down(sm){
				// margin-left: calc(-1 * var(--bs-gutter-x));
				// margin-right: 0 !important;
			}
			@include media-breakpoint-up(md){
				margin-left: 0 !important;
				margin-right: calc( 100%  - 55vw - var(--bs-gutter-x));
			 
			} 
			} 
			&__lg{
				@include media-breakpoint-up(md){

					text-align: right;
					left: auto !important;
					right: 0 !important;
					width: auto;
				}
				max-width: none !important;
			}
			
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(sm) {
		.h4{
			font-size: 18px;
		}
	}
} // end.sBest