mixin sCompBrand(data)
	// start sCompBrand
	+b.SECTION.sCompBrand.section#sCompBrand&attributes(attributes)
		.container
			+e.wrap
				h2 Можем сделать капсулы под&nbsp;бренд вашей&nbsp;компании
				+pic("sCompBrand.png")


	// end sCompBrand