
	// start .sCompBrand
	.sCompBrand {
		background-color: #191919;
		color: #ffffff;
		position: relative;
		z-index: 4;
		--sPT: #{rem(60)};
		@include media-breakpoint-up(sm){
			--sPT: #{rem(180)};
			--sPB: #{rem(140)};
		}
		h2{
			text-transform: uppercase;
			@extend .h4;
			font-weight: bold;
			line-height: (51 / 35);
			@include media-breakpoint-down(sm) {
				font-size: 15px;
			}
		}
		&__wrap{
			max-width: rem(545);
			@include media-breakpoint-up(sm){
				max-width: rem(375);
			}
			@include media-breakpoint-up(xl) {
				margin-left: (100% / 12);
			}
			position: relative;
		
		}
		picture{
			display: block;
			text-align: center;
			@include media-breakpoint-up(sm) {

				position: absolute;
				left: 100%;
			top: 65%;
			width: rem(655);
			--h: #{rem(641)};
			height: var(--h);
			margin-top: calc(-1 * var(--h) / 2);
		}
		margin-top: 40px;
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sCompBrand