
	// start .sAbout
	.sAbout {
		color: #ffffff;
		@include media-breakpoint-up(sm) {
			--sPT: #{rem(85)};
		}
		--sPB: 0;
		position: relative;
		z-index: 4;
		--swiperArrowPosition: 4%;
		@include media-breakpoint-down(xl){
			--swiperArrowPosition: 0;
			--swiperArrowSize: #{rem(46)};
		}
		background-color: $body-color;
		h2{
			// @include rfs(28px);
			font-size: rem(28px);
			text-transform: uppercase;
			line-height: (55 / 28);
			margin-left: auto;
			margin-right: auto;
			max-width: rem(1180);
		}


		
		 &__slider-wrap{
			 position: relative;
			 .swiper-wrapper{
				 align-items: flex-end;
			 }
		 }
		 &__slide{
			 position: relative;
			 text-align: center;
		 }
		 &__caption{
			border-radius: $border-radius;
			background-color: #2d2d2d;
			@include media-breakpoint-up(xl){

				right: 0;
				top: 58%;
				position: absolute;
				margin-left: 0;
				margin-right: 0;
				margin-top: 0;
			}
			margin-top: 14px;
			margin-left: auto;
			margin-right: auto;
			 color: #ffffff;
			 font-size: rem(16);
			 text-align: center;
			 width: rem(282);
			 padding: rem(10);
			 strong{
				 display: block;
			 }
		 }
		 p{
			 line-height: (20 / 13);
			 span{
				color: #878787;
			 }
			 strong{
				 color: #ffffff;
			 }
		 }
		 &__text-block{
			 @include media-breakpoint-up(xl) {
				 padding-top: rem(35);
				 max-width: rem(560);
			 }
			 margin-bottom: rem(65);
			 p{
				 margin-bottom: rem(28);
			 }
		 }

		 &__slider-wrap{
			 width: 100%;
			 margin-left: auto;
			 margin-right: auto;
			 @include media-breakpoint-up(xl) {
			 max-width: 600px;
			 margin-bottom: 0;
			}
			max-width: rem(400);
			margin-bottom: rem(40);
		 }

		 @include media-breakpoint-down(xl) {
			h2{
				text-align: left;
			}
			&__img-wrap{
				width: 168px;
				height: 168px;
				border-radius: 50%;
				position: relative;
				overflow: hidden;
				margin-left: auto;
				margin-right: auto;
				background-color: #2a2a2a;
				background-image: url(../img/@2x/webp/logo-gray.webp);
				@include bgs;
				img{
					max-width: 90%;
				}
			}
		}
		

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(sm) {
		h2{
			font-size: 15px;
		}
	}
	.container{
	 
	}
} // end.sAbout


.contact-block{
	margin-top: rem(80);
	border-radius: rem(4);
	max-width: 542px;
	// background-image: url(../img/@2x/gradient.jpg);
	background-image: linear-gradient(90deg, rgba(252,127,8,1) 0%, rgba(195,16,108,1) 49%, rgba(91,45,144,1) 100%);
	@include bgs;
	padding: rem(35) rem(33);
	padding-right: rem(20);
	color: $body-color;
	
	&__label{
		width: 11px;
		height: 11px;
		border-radius: 6px;
		background-color: #2acc2a;
		border-radius: 50%;
		left: -4px;
		top: -4px;
		position: absolute;
		z-index: 4;
	 }
	&__text{
		font-weight: 500;
		margin-bottom: rem(16);
	}
	&__btn{
		@extend .btn;
		@extend .btn-outline-body;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		height: 47px;
		margin-right: rem(10);
		margin-left: 1.5px;
		margin-right: 1.5px;
		margin-bottom: 3px;
		flex-grow: 1;
		@include media-breakpoint-down(sm) {
			width: calc(50% - 3px);
		}
		span{
 
			position: relative;
			z-index: 4;
		}
		.icon{
			font-size: 20px;
			margin-right: 6px;
 
		}
	}
 
 
	&__btns{
		 display: flex;
		 margin-left: -1.5px;
		 margin-right: -1.5px;
		 @include media-breakpoint-up(sm) {
			 flex-wrap: nowrap;
		 }
		 flex-wrap: wrap;
	}	
	.soc{
		&__item{
			@extend .btn;
			@extend .btn-outline-body;
			width: rem(54px);
			height: rem(54px);
			border-radius: 50%;
			text-align: center;
			padding: 0;
			display: flex;
			align-items: center;opacity: 1;
			justify-content: center; 
			.icon{
				font-size: rem(24);
			}
		}
	}
}

.swiper-container{
	width: 100%;
}

.sticky-block{
	position: fixed;
	// top: 50%; 
	bottom: 10vh;
	right: (250vw /1920);
	@include media-breakpoint-up(lg) {
		width: rem(248px); 
		padding: rem(35) rem(40);
	}
	width: rem(208px); 
	padding: rem(25) rem(20);
	box-shadow: 0 3px 38px 11px rgba(46, 46, 46, 0.06);
	border-radius: $border-radius;
	background-color: #ffffff;
	z-index: 800;
	&:not(.active){
		right: rem(-300);
		opacity: 0;
	}
	&__link{
		color: #494949 !important;  
		font-weight: 500;
		border-bottom: 1px dashed;
		&:hover{
			border-color: transparent;
		}
	}
	&__close{
		color: $body-color;
		position: absolute;
		cursor: pointer;
		.icon{
			font-size: 13px;
		}
		right: 10px;
		top: 10px;
	}

	transition: 0.7s; 
	&.active{

		// animation-name: bounce; 
		// animation-duration: 1.2s; 
		// animation-timing-function: ease-in-out; 
		// animation-iteration-count: infinite; 
	}

}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem); }
  60% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem); } }