mixin sAbout(soc)
	// start sAbout
	+b.SECTION.sAbout.section.bg-wrap#sAbout&attributes(attributes)
		+pic("dark-bg.jpg",'bg').picture-bg
		.container
			+b.section-title.text-center
				h2 Мы&nbsp;хотели, чтобы яркий незабываемый аромат и&nbsp;натуральный  вкус кофе,будто только что приготовленный опытным бариста, был доступен каждому. И&nbsp;у&nbsp;нас получилось!
			.row
				.col-xl-6.d-flex.align-items-end
					+e.slider-wrap
						+e.slider--js.swiper-container
							.swiper-wrapper
								- for (var x = 0; x < 3; x++)
									+e.slide.swiper-slide
										+e.PICTURE.img-wrap
											source.swiper-lazy(media="(min-width: 1200px)", srcset="#" data-srcset="img/@2x/team.png")
											img.res-i.swiper-lazy(src="#" data-src="img/@1x/team.png", alt="")
										+e.caption
											strong Елена Глухова
											| Соучредитель
											br
											| ООО «Санто Арабика»

						+arrow
				.col-xl-6.order-xl-last
					+e.text-block
						p Решение, что это будет кофе в&nbsp;капсулах приняли сразу&nbsp;&mdash; больше года сохраняет весь свой вкус, готовится меньше минуты и&nbsp;не&nbsp;доставляет хлопот с&nbsp;&laquo;убеганием&raquo; из&nbsp;турки. 

						p: span Оставалось обеспечить богатый вкус и&nbsp;цену...

						p: span Пришлось детально изучить все #[strong факторы, влияющие  на&nbsp;вкус:] сорт, место произрастания, погодные условия  при созревании урожая, метод обработки ягод, их&nbsp;качество, срок и&nbsp;условия перевозки и&nbsp;хранения, обжарка, помол, различные нюансы приготовления. 

						p: span Мы&nbsp;переговорили практически со&nbsp;всеми известными производителями и&nbsp;обжарщиками кофе, а&nbsp;некоторых посетили лично. Наладили поставки зерна, запустили свою линию по&nbsp;производству капсул.
						p: strong Благодаря нашим ноу-хау в&nbsp;процессе производства мы&nbsp;снизили себестоимость капсул и&nbsp;теперь представляем вам достойного конкурента оригинальным капсулам по&nbsp;доступной цене.
						+contact-block(soc)
	// end sAbout
	+b.sticky-block--js
		+e.close
			+icon("close")
		+e.link.link-modal(href="#modal-become") Стань нашим дилером в&nbsp;своем городе или в&nbsp;своей стране и&nbsp;зарабатывай вместе с&nbsp;нами.