extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCheckout/_sCheckout.pug
include ../blocks/sThanks/_sThanks.pug

block variables
	- let  mainPage= 'innerPage'
block title
	- let  title= 'title'
	title= title
block pagecontent

	+mob-mnu()
	//- +header()
	header.header
		+topLine().topLine-inner
	+sThanks-2({
		title: `Спасибо за&nbsp;доверие к&nbsp;нашей компании и&nbsp;вашу заявку!`,
		text: `<p>В&nbsp;ближайшее время я&nbsp;перезвоню вам, чтобы уточнить адрес доставки.</p><p>Ваш тестовый заказ будет сформирован и&nbsp;отправлен в&nbsp;транспортную компанию в&nbsp;течение 2х&nbsp;дней.</p>`
	})
	+footer()


	