mixin sTextLg(data)
	// start sTextLg
	+b.SECTION.sTextLg.section#sTextLg&attributes(attributes)
		.container
			+b.section-title.text-lg-center
				h2 В&nbsp;результате под давлением воды каждая капсула &laquo;Санто&nbsp;Арабика&raquo; #[strong раскрывается правильно]
				p Вода равномерно протекает по&nbsp;капсуле, вбирает в&nbsp;себя лучшие оттенки кофейного вкуса  и тоненькой струйкой доставляет ароматный напиток в&nbsp;чашку
	// end sTextLg