// start .sThanks
.sThanks {
	--sTPB: #{rem(17)};
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-grow: 1;

	&__iconWrap {
		margin-bottom: rem(25);
		@include media-breakpoint-up(xxl) {
			margin-bottom: rem(50);
		}
	}

	.section-title {
		h5 {
			font-weight: 700;
			line-height: calc(45/25);
		}
	}

	&__text {
		font-weight: 500;
		line-height: calc(31/18);
		max-width: rem(580);
		margin: 0 auto;
	}

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sThanks

.sThanks2 {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	--sTPB: #{rem(17)};
	--sPT: #{rem(40)};
	--sPB: #{rem(57)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(20)};
	}

	.section-title {
		position: relative;

		&__iconWrap {
			position: absolute;
			top: rem(3);
			left: -35px;
		}

		h5 {
			font-weight: 700;
		}
	}

	.container {
		@include media-breakpoint-up(xl) {
			max-width: 1005px;
		}
	}

	.row {
		@include media-breakpoint-up(xl) {
			// @include roww(82px);
		}
	}

	&__col {
		@include media-breakpoint-up(xl) {
			max-width: 45%;
		}
	}

	&__text {
		font-weight: 500;
		line-height: calc(31/18);

		p {
			margin-bottom: rem(36);
		}
	}

	&__wrap {
		position: relative;
	}

	&__position {
		position: absolute;
		left: 40%;
		bottom: rem(40);
		text-align: center;
		border-radius: $border-radius;
		background-color: #2d2d2d;
		padding: 10px;
		min-width: rem(282px);
		color: #ffffff;
		font-size: rem(16px);
		font-weight: 500;
		line-height: calc(25/16);

		strong {
			display: block;
		}
	}


}