mixin sDelivery(data)
	// start sDelivery
	+b.SECTION.sDelivery.section#sDelivery&attributes(attributes)
		.container
			+e.titleWrap
				+b.section-title
					h2 Доставим ваш заказ в&nbsp;любую точку России
					+e.subtitle Формируем заказ в&nbsp;течение #[strong 2х&nbsp;дней] после оплаты и&nbsp;отправляем вам транспортной компанией
				+e.btnWrap.d-none.d-lg-flex
					div
						.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev.sDelivery__btn
							+icon('chevron-right')
					div
						.swiper-button-hand.swiper-button-hand-next.swiper-button-next.sDelivery__btn
							+icon('chevron-right')
			+e.slider-wrap
				+e.slider--js.swiper-container
					.swiper-wrapper
						mixin slide(x, i, t)
							+e.slide.swiper-slide
								+e.imgWrap
									img(src=`img/@2x/delivery-${x}.jpg`, alt="")
									//- img.swiper-lazy(src="#" data-src=`img/@2x/delivery-${x}.jpg`, alt="")
								+e.text!= t
									if i == 05
										+e.subtext
											p Работаем с #[strong Деловыми Линиями, СДЕК, ПЭК, ...]
											p В момент согласования заказа мы уточним, какой ТК вам удобнее получить товар.
											p Если хотите доставку товара ТК, которой нет в списке, подумаем и решим, как это сделать.
								+e.numb= i
						+slide(1,'01', 'Получаем заявку')
						+slide(2,'02', 'Выставляем счет')
						+slide(3,'03', 'Получаем 100% оплату')
						+slide(4,'04', 'Формируем заказ')
						+slide(1,'05', `Оформляем ТК <span class="sDelivery__prompt">?</span>` )
						+slide(6,'06', 'Доставка')
	// end sDelivery