
	// start .sCatalog
	.sCatalog {
		background-color: $body-color;
		background-image: url(../img/@2x/webp/catalog-bg.webp);
		color: #ffffff;
		@include media-breakpoint-up(sm) {

			--sPT: #{rem(112)};
			--sPB: #{rem(120)};
		}
		--swiperArrowSize: #{rem(74)};
		@include media-breakpoint-up(xl) {
			--swiperArrowPosition: #{rem(-75px)};
		}
		--swiperArrowPosition: #{rem(-15px)};
	 
		h2{
			margin-left: auto;
			margin-right: auto;
			text-transform: uppercase;
			max-width: rem(1150);
			@include media-breakpoint-down(sm) {
				text-align: left;
				font-size: 15px;
				line-height: normal;
			}
		}
		 &__slider{
			 max-width: 1170px;
			 
		 }

		 &__wrap{
			 position: relative;
			}
			&__item{
				@include media-breakpoint-up(xl) {
	
					padding: rem(40) rem(38);
				 }
				 padding: rem(40) rem(20);
				display: flex;
				flex-direction: column;
				 height: 100%;
				 max-width: rem(440);
				 margin-left: auto;
				 margin-right: auto;
				 background-color: #2f2f2f;
			}
			&__slide{
				height: auto;
			}
		 &__img-wrap{
			 display: block;
			 text-align: center;
			 height: 240px;
			 display: flex;
			 align-items: flex-end;
			 justify-content: center;
			 margin-bottom: rem(24);
			 position: relative;
		 }
		 &__alert{
			 position: absolute;
			 line-height: normal;
			 top: 0;
			 left: 0;
			 padding-left: rem(15);
			 font-weight: 500;
			 &::before{
				 content: '';
				 width: $border-radius;
					height: $border-radius;
					background-color: currentColor;
					border-radius: 50%;
					position: absolute;
					left: 0;
					top: rem(8);
			 }
		 }
		 &__title{
			 @extend .h5;
			 font-weight: bold;
			 margin-bottom: rem(20);
		 }
		 p{
			color: #a1a1a1;
			font-weight: 500;
			font-size: rem(16);
			margin-bottom: auto;
			padding-bottom: rem(10);
			padding-bottom: rem(42);
		 }
		 &__price{
			 font-weight: bold;
			 font-size: rem(20);
			 @include media-breakpoint-up(xl) {

				 padding-bottom: rem(30);
			 }
		 }


		 @include media-breakpoint-down(md) {
			.section-title{
				text-align: left;
			}
			&__control{
				position: relative;
				width: calc(var(--swiperArrowSize) * 3);
				margin-left: auto;
				margin-right: auto;
				margin-top: rem(50);
				height: var(--swiperArrowSize);
				@include media-breakpoint-down(sm){ 
					--swiperArrowSize: #{rem(46)};
					--swiperArrowPosition: 0;
				}
			}
		}

		.swiper-button-hand{
			top: 50%;
			margin-top: calc(-1 * var(--swiperArrowSize) / 2);
		}


		&__btn{
			.icon{
				color: #a2a2a2;
				opacity: 0.53;
				font-size: rem(26);
			}
			@extend .btn;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 309px;
			width: 100%;
			color: #ffffff;
			margin-left: auto;
			margin-right: auto;
			 padding: rem(6);
			border-radius: 37px;
			margin-bottom: rem(19);
			&:hover{
				color: $body-color;
				background-color: #ffffff;
				.sCatalog__icon-wrap{
					background-color: rgba($color: #2f2f2f, $alpha: .26);
					opacity: 1;
					border-color:  rgba($color: #2f2f2f, $alpha: .26);
					.icon{
						color: #2f2f2f;
					}
				}
			}
			span{
				flex-grow: 1;
				text-align: center;
			}
		}
		&__icon-wrap{
			width: 63px;
			height: 63px;
			border: 1px solid #b3b3b3;
			opacity: 0.53;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			@include mt;

			.icon{
				flex: 0 0 auto;
				color: #b3b3b3;
			}
		}

		&__gr{
			align-items: center;
			margin-bottom: rem(27);
			--bs-gutter-x: 5px;
			&-title{
				font-size: rem(16);
			}
		}
		.block-add{
			input{
					background-color: transparent;
					color: #ffffff;
					border-color: rgba($color: #ffffff, $alpha: .18);
					text-align: center;
					width: 41px;
					height: auto;
					padding: rem(6) rem(2);
			}
			&__minus,
			&__plus{
				&::before{
					background-color: #ffffff;
					
				}
			}
			&__plus{
				&::before,
				&::after{
					background-color: #ffffff;
				}
			}
		}

		&__foot-text{
			text-align: center;
			color: #fffbd0; 
			font-size: rem(16px);
			font-weight: 500;
			&:not(.active){
				opacity: 0;
				visibility: hidden;
			}
			
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sCatalog