.logo-block{
	display: flex;
	align-items: center;
	@include media-breakpoint-up(md) {
		max-width: rem(370);
	}
	max-width: 220px;
	img{
		flex: 0 0 auto;
		margin-right: rem(5);
		@include media-breakpoint-up(md) {
			margin-right: rem(15);
			max-width: none;
		}
		max-width: 52px;
	}
	color: #ffffff;
	&__title{
		@include media-breakpoint-up(md) {

			font-size: rem(20);
		}
		font-size: 14px;
		font-weight: 500;
	}
	&__text{
		opacity: 0.44;
		@include media-breakpoint-up(md) {
			font-size: rem(16);
		}
		font-size: 11px;
	}
}
// start .topLine
.topLine {
	@include media-breakpoint-up(xxl){
		--sPB: #{rem(80)}; 
		--sPT: #{rem(38)};
	}
	@include media-breakpoint-up(sm) {

		// --sPT: #{rem(38)};
		--sPB: #{rem(20)}; 
	}
	--sPT: #{rem(20)};
	--sPB: #{rem(50)}; 
		 &__tel{
			 @extend .h6;
			 font-weight: 500;
			 color: #ffffff !important;
		 }
		 .btn{
			 margin-top: rem(10);
			 width: rem(204);
		 }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

	&-inner {
		background-color: #121212;
		background-image: url(../img/@2x/head-bg-sm.jpg);
		@include media-breakpoint-up(xxl) {
			--sPB: #{rem(54)};
		}
	}

} // end.topLine

.mass-block{
	display: flex;
	align-items: center;
	margin-left: -5px;
	margin-right: -5px;
	&__item{
		width: 29px;
		height: 29px;
		border: 1px solid  ;
		color: #ffffff;
		display: flex;
		align-items: center;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		margin-left: 5px;
		margin-right: 5px;
		&:hover{
			color: $body-color;
			background-color: $primary;
			border-color: $primary;
		}
		.icon{
				font-size: rem(15);
		}
	}
}