mixin topLine()
	// start topLine
	+b.SECTION.topLine.section#topLine&attributes(attributes)
		.container
			.row
				.col
					+b.logo-block
						img(src="img/@2x/logo.png", alt="")
						div
							+e.title «Санто Арабика»
							+e.text Производим капсульный кофе стандарта Nespresso
				.col-auto.d-md-none
					.mass-block__item.toggle-menu-mobile--js
						+icon("tel")
				.col-auto.text-end.d-none.d-md-block
					.row
						.col-auto
							+mass-block()
						.col-auto
							+e.tel(href=`tel${tels}`)= tel
					a.btn.btn-dark.link-modal(href="#modal-call") Перезвоните мне
	// end topLine