mixin sGuarantee(data)
	// start sGuarantee
	+b.SECTION.sGuarantee.section#sGuarantee&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sGuarantee
				
			.row
	// end sGuarantee