mixin s-form()
	// start s-form
	+b.s-form.section#s-form.bg-wrap&attributes(attributes)
		+pic("form-bg.jpg",'bg')(class="picture-bg")
		.container
			+pic('form-img.png','',0).man.d-none.d-lg-block
			+form-wrap() 
				+e.group-title 
					.strong Выберите сорт кофе
					| и&nbsp;введите количество
				+e.group.row.g-1
					mixin pro(i,t)
						label.col-4
							+b.prod-input
								+input('Например, 10').form-control-sm
								+e.head
									img(src=`img/@1x/prod-${i}.png`, alt="").d-none.d-sm-block
									+e.title= t
					+pro(`1`,`Colombia Specialty`)
					+pro(`2`,`Guatemala Specialty`)
					+pro(`3`,`Nicaragua Specialty`)
				+form-tabs('Куда отправить счет на оплату?')
				//- +inputName()
				+e.btn(type="submit") получить счет 
				+polite()
	// end s-form