
$h: em(2);

.toggle-menu-mobile {
	display: block;
	height: $h* 12;
	position: relative;
	color: #878787;
	font-size: 32px;
	width: 1em; 

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 2;
	}

	span:after {
		bottom: $h * 2;
	}

	span { 
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 21px;
		height: 1px;
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
		transform-origin: 50% 50%;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		
	}

	&.on span:before {
		transform: rotate3d(0,0,1, 45deg);
	}

	&.on span:after {
		transform: rotate3d(0,0,1, -45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 400px;
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	top: 0;
	// left: 0;
	right: 0;
	&:not(.active){
		transform: translate3d(120%, 0,0);
		opacity: 0;

	}
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: #121212;
		text-align: center;
		padding: rem(20) 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		padding-top: rem(105);
	}

	&.active { 
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		 
		position: absolute;
		opacity: 0;
		right: 5px;
		top: 25px;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	&__tel{
		font-size: $h5-font-size;
		font-weight: 500;
		color: #ffffff;
		display: inline-block;
		margin-bottom: 15px;
	}
	&__link{
		color: #ffffff !important; 
		font-size: 13px;
		font-weight: 500;
		border-bottom: 1px dashed;
		&:hover{
			border-color: transparent;
		}
	}
	&__text{
		padding-top: rem(25);
		opacity: 0.85;
		color: #fefefe;
		font-weight: 600;
		font-size: 15px;
		margin-bottom: 15px;
		span{
			position: relative;
			display: inline-block;
			padding-left: rem(30);
			&::before{
				content: '';
				width: 4px;
				height: 4px;
				border-radius: 50%;
				box-shadow: 0 0 16px 2px rgba(255, 255, 255, 0.44);
				background-color: #ffffff;
				left: 0;
				position: absolute;
				top: rem(15);
			}
		}
	}
	.mass-block{
		justify-content: center;
		margin-left: -18px;
		margin-right: -18px;
		&__item{
			margin-left: 18px;
			margin-right: 18px;

		}
	}
}