.navMenu{
	display: flex;
	list-style: none;
	@include roww(20px);
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;
	margin-bottom: 0;
	&__link{
		display: block;
		text-align: center; 
		font-weight: 500;
		color: #ffffff;
	}
}