.fixed-menu .top-nav{
	position: fixed;
	background-color: $body-color;
	z-index: 10;
}
.top-nav {
	left: 0;
	top: 0;
	width: 100%;
	@include media-breakpoint-up(xxl){

		padding-top: rem(20);
		padding-bottom: rem(20);
	}
	padding-top: rem(5);
	padding-bottom: rem(5);
	border-bottom: 1px solid rgba($color: #fff, $alpha: .13); 
	z-index: 1100;
	&.fixed { 
		bottom: auto;
		margin-top: 0;
	}
	.row{
		align-items: center;
	}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


.basket-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #ffffff;
	font-weight: 500;
	padding: rem(10) 0;
	.icon{
		color: #e9e5bf;
		font-size: rem(24);
		margin-right: rem(21);
	}
	&__count{
		width: 19px;
		height: 19px;
		background-color: #fffbd0;
		border-radius: 50%;
		text-align: center;
		color: $body-color; 
		font-size: 14px;
		font-weight: 700;
		justify-content: center;
		align-items: center;
		display: flex;
		margin-left: 9px;
	}
}