mixin sBanner(data)
	// start sBanner
	+b.SECTION.sBanner.section#sBanner&attributes(attributes)
		.container
			+e.title
				span Santo Arabica —
			+e.text мы&nbsp;переосмыслили идею капсульного кофе и&nbsp;заново изобрели его для вас
	// end sBanner