mixin sBanner(data)
	// start sBanner
	+b.SECTION.sBanner--rozn.section#sBanner&attributes(attributes)
		+e.container.container
			+e.title
				span Santo Arabica —
			+e.text мы&nbsp;переосмыслили идею капсульного кофе и&nbsp;заново изобрели его для вас
		+pic('text-vertical.png').sBanner__text
	// end sBanner