// start .sAsk
.sAsk {
	padding-bottom: calc(var(--sPB) * 1.05);


	.section-title {
		padding-bottom: calc(var(--sTPB) * 2);
		@include media-breakpoint-up(sm) {
			padding-bottom: calc(var(--sTPB) / 1.3);
			text-align: center;
		}

		@include media-breakpoint-down(sm) {
			max-width: 300px;
		}
		&__subtitle {
			font-weight: 500;
			font-size: 13px;
			@include media-breakpoint-up(md) {
				font-size: $h5-font-size;
			}
		}

		h2 {
			font-weight: 700;
			text-transform: uppercase;
			line-height: calc(65/50);

		}
	}

	.row {
		@include roww(6px);
	}

	&__tel {
		line-height: 1;
		color: $body-color !important;
		font-weight: 700;
		font-size: $h5-font-size;
		@include media-breakpoint-up(md) {
			font-size: rem(55px);
		}

		&:hover {
			// text-shadow: 0 0 6px #000000;
		}
	}

	&__btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: solid 1px rgba($color: #000000, $alpha: 0.5);
		border-radius: $border-radius;
		font-size: 11px;
		min-height: 70px;
		@include media-breakpoint-up(md) {
			min-height: rem(87);
			font-size: rem(14);
		}
		padding: rem(5);
		color: $body-color;
		font-weight: 500;

		@include media-breakpoint-down(sm) {
			max-width: 212px;
			margin: 0 auto 10px;
		}

		.icon {
			font-size: 23px;
			color:  #000000;
			opacity: 0.58;
			margin-right: rem(8);
		}

		&:hover, &.active {
			color: #ffffff;
			background-color: $body-color;

			.icon {
				color: #fff;
			}
		}

		&.active {
			.sAsk__iconWrap::before {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
	
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: rem(5);
	}

	&__call {
		opacity: 0.53;
	}

	&__iconWrap .icon, &__iconWrap::before {
		@include mt;
	}

	&__online {
		font-weight: 500;
		text-transform: uppercase;
		margin-top: rem(20);
		margin-bottom: rem(35);
		letter-spacing: rem(-0.2);

		&::before {
			content: '';
			width: 6px;
			height: 6px;
			background-color: #12b34b;
			border-radius: 50%;
			display: inline-block;
			margin-right: 11px;
			margin-bottom: 3px;
		}
	}

	&__iconWrap {
		position: relative;
		display: block;

		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			left: -2px;
			top: -2px;
			width: 11px;
			height: 11px;
			background-color: #2acc2a;
			border-radius: 50%;
			display: block;
			opacity: 0;
			transform: scale(5)
		}
	}















	--sPB: #{rem(30)};
	@include media-breakpoint-up(md) {
		--sPB: #{rem(80)};
		.container {
			max-width: 826px;
		}
	}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAsk