include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug
include ../../blocks/topLine/_topLine.pug
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/headerBlock/_headerBlock.pug
include ../../blocks/sForm/_sForm.pug

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		block title
			title title
		meta(name='format-detection' content='telephone=no')
		meta(name='format-detection' content='address=no')
		
		+allcss()
		block variables
	body(class= mainPage) 
		.main-wrapper
			block pagecontent
					h3 content
	+modal()
	+allcjs()
	<svg class="invisible">
		<linearGradient id="danger-gradient" gradientTransform="rotate(60)">
			<stop offset="50%" stop-color="#e4100e"/>

			<stop offset="100%" stop-color="#e95307"/>
		</linearGradient>
	</svg>